params {
  outdir = './type-variants-output'
  prefix = 'prefix'
  csqDpThreshold = 10
  csqAfThreshold = 0.75
}

profiles {
  conda {
    process.conda = "$baseDir/environments/environment.yml"
    if (params.cache){
     conda.cacheDir = params.cache
    }
  }
  process.executor = 'sge'
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
  author = 'Dan Fornika'
  description = "Standalone pipeline to run the 'typing' portion of connor-lab/ncov2019-artic-nf"
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}

